<section class="container" id="show-list">
  <div class="content-spaces">
    <div class="card" *ngFor="let pos of arrIngredients">
      <div class="card-body">
          <!-- <h5 class="card-title" [ngClass]="{'tachado': currentIngredient === pos.id}" >{{pos.ingredient}}</h5> -->
        <h5 class="card-title" [ngClass]="{'tachado': done}" *ngIf="currentIngredient === pos.id">{{pos.ingredient}}</h5>
        <h5 class="card-title" *ngIf="currentIngredient !== pos.id">{{pos.ingredient}}</h5>
        <a href="#" class="btn btn-success spaces-btn-card" (click)="doneElem(pos.id)">Aceptar</a>
        <a href="#" class="btn btn-danger spaces-btn-card" (click)="removeElem(pos.id)">Eliminar</a>
        <!-- <a href="#" class="btn btn-warning spaces-btn-card">Editar</a> -->
      </div>
    </div>
  </div>
</section>
