<header class="title-spaces">
  <h1>To-Do List</h1>
  <h3>Agrega tareas!</h3>
</header>

<section class="container" id="edit-list">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <button type="button" class="btn btn-success spaces-20" (click)="add(texto.value); texto.value=''">Agregar</button>
    </div>
    <input type="text" class="form-control" #texto>
    <div class="input-group-prepend">
      <button type="button" class="btn btn-danger spaces-20" (click)="texto.value=''">Borrar</button>
    </div>
  </div>
</section>
